@use '../../styles/config';

.arrow-container {
  position: absolute;
  cursor: pointer;

  &.next {
    @include config.position(50%, 20px, null, null);
  }

  &.prev {
    @include config.position(50%, null, null, 20px);
  }

  svg {
    @include config.for-tablet-portrait-up() {
      height: 28px;
    }
    @include config.for-tablet-small() {
      height: 24px;
    }
    
  }
}
