@use "../../styles/config";

.select-box-container {
  @include config.position(25px, null, null, 9px);
  position: absolute;
  @include config.box(260px, 270px);
  @include config.flex(null, null, column);
  padding: 5px;
  z-index: 5;
  @include config.for-desktop() {
    left: 2px;
    @include config.box(245px, 250px);
  }
  @include config.for-tablet-landscape-up {
    @include config.box(225px, 230px);
  }
  @include config.for-tablet-portrait-up() {
    @include config.box(220px, 225px);
    top: 20px;
  }
  @include config.for-tablet-small() {
    @include config.box(140px, 145px);
    top:13px;
    left: -2px;
  }


  .option {
    font-size: 0;
    font-weight: bold;
    opacity: 0;
    cursor: pointer;
    border-bottom: 0.5px solid config.$sub-color;
    border-radius: 3%;
    background-color: #fffdf5;
    transition: all 0.5s ease-out;

    &.visible {
      font-size: 23.5px;
      padding: 13px 0 13px 20px;
      opacity: 1;
      @include config.for-desktop() {
        font-size: 22px;
        padding: 11.5px 0 11.5px 16px;
      }
      @include config.for-tablet-landscape-up {
        font-size: 20px;
        padding: 11px 0 11px 16px;
      }
      @include config.for-tablet-portrait-up() {
        font-size: 19.5px;
      }
      @include config.for-tablet-small() {
        padding: 6px 0 6px 10px;
        font-size: 12.5px;
      }
    }

    &:hover {
      background-color: #fff1de;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

// @include config.keyframes-animation(show) {
//   0% {
//     font-size: 0;
//     padding: 0;
//     opacity: 0;
//   }

//   50% {
//     opacity: 0.2;
//   }

//   75% {
//     opacity: 0.3;
//   }

//   100% {
//     opacity: 1;
//   }
// }

// @include config.keyframes-animation(disappear) {
//   0% {
//     font-size: 23.5px;
//     font-weight: bold;
//     padding: 13px 0 13px 20px;
//     opacity: 1;
//   }

//   50% {
//     opacity: 0.1;
//   }

//   75% {
//     opacity: 0;
//   }

//   100% {
//     font-size: 0;
//     padding: 0;
//     opacity: 0;
//   }
// }
